---
layout: splash
permalink: /
title: "<u>ST</u>atistical <u>A</u>rtificial intelligence and <u>R</u>elational <u>L</u>earn<u>in</u>g <u>G</u>roup."
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/linkprediction.jpg
excerpt: "We are interested in making smart machines that humans can use reliably in their everyday lives. Artificial Intelligence (AI) has made tremendous progress since its early days, and its advancement has helped shape the progress of research in many other fields. Traditionally, AI is used with either the logical approach (to address structured problems) or with the statistical approach (to handle uncertainty). Our research interests lie at the intersection: advancement and application of algorithms that can do both."
feature_row:
  - title: "Logic"
    excerpt: "AI has a history of using logic as the formal language for expressing and evaluating human knowledge."
  - title: "Probability"
    excerpt: "The hard constraints of logic can be imposing in a world filled with noise, we soften the hard constraints with probabilities."
  - title: "Relations"
    excerpt: "Most of the world's knowledge is stored in relational databases, our algorithms focus on methods which exploit these inherent relationships."
github:
  - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
---
<link rel="stylesheet" type="text/css" href="/assets/css/home.css">

<!-- {% include feature_row id="intro" type="center" %} -->
{% include feature_row %}

<div class="news">
    <h3 class="">What's new? <span class="flash"> <img src="/assets/images/news-flash.gif"/></span></h3>

    <hr>
    <section>
    {% for post in site.categories.news limit:5  %}
    <span class="news-title"><a href="{{ post.url }}">{{ post.title }}</a></span>&nbsp;<span class="news-date">{{ post.date | date_to_string }}</span> <br>
    <span class="news-excerpt">{% if post.excerpt %}{{ post.excerpt | markdownify | strip_html | truncate: 160 }}{% endif %}</span>
    {% endfor %}
    </section>
</div>
