---
layout: splash
permalink: /news-archive/
title: "News Archive"
author_profile: false
---

<style>
  .news-date {
  font-size:.625em;
  }
  .archive{
      @media (min-width: 80em){
          padding-right: 100px !important;
      }
  }
</style>

<h1>{{page.title}}</h1>

{% assign sorted = site.news | reverse %}

{% for post in sorted %}

<br><span class="news-date">{{ post.date | date_to_string }}</span>
<br><span class="news-title"><a href="{{ post.url }}">{{ post.title }}</a></span>
<br><span class="news-description">{% if post.excerpt %}{{ post.excerpt | markdownify | strip_html | truncate: 120 }}{% endif %}</span><br>
{% endfor %}
