---
layout: splash
permalink: /publications/
title: "Publications"
$paragraph-indent: true
---
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

<h3>{{page.title}}</h3>

<!-- Buttons for publication type filter starts -->
<div class="button-group filter-button-group">
	{% for category in site.data.publication-type %}
		<a class="button" data-filter=".{{ category.id}}">{{ category.name}}</a>
	{% endfor %}
		<a class="button active" data-filter="*">All</a>
</div>
<!-- Buttons for publication type filter ends -->

<!-- publication grouped by year starts-->
{% assign items_grouped = site.data.publications | sort: 'year' | reverse | group_by: 'year' %}
<div class="grid">
{% for group in items_grouped %}

    <!-- year starts-->
    {% assign all_types = "" %}
    {% assign publication_grouped = group.items | group_by: 'publicationType'%}
    <div class="year {% for publication in publication_grouped %}{{ all_types | append: ' ' | append: publication.name }}{% endfor %}">{{group.name}}</div>
    <!-- year ends-->

    <!-- publications start -->
    {% for publication in group.items %}
        <div style="font-size: 0.7em;" class="element-item {{publication.publicationType}}">{% for author in publication.authors %}{% if forloop.last %}& {% endif %}{% assign l_name = author | split: ' ' | last %}{% assign f_name = author | split: ' ' | pop %}{{ l_name }}, {%for name in f_name%}{{name | split:'' | first}}.{% endfor%}, {% endfor %}<i>{% if publication.url%}<a href="{{publication.url}}" >{% endif %}{{publication.title}}{% if publication.url%}</a>{% endif %}</i>,{{publication.venue}} {{publication.year}}.</div>
    {% endfor %}
    <!-- publications end -->
<div><br></div>
{% endfor %}
</div>
<!-- publication grouped by year ends-->

<script>
	// init Isotope
	var $grid = $('.grid').isotope({
	  // options
	});
	// filter items on button click
	$('.filter-button-group').on( 'click', 'a', function() {
	  var filterValue =  $(this).attr('data-filter');
	  $grid.isotope({ filter: filterValue });
	});
	$('.button-group a.button').on('click', function(){
		$('.button-group a.button').removeClass('active');
		$(this).addClass('active');
	});
</script>
<style type="text/css">
    .button-group{
        margin: 0 0 11px 0;
    }
    a.button{
        background-color: #e1e1e1;
        border: 1px solid #000000;
        font-size: 0.8em;
        padding: 3px;
        color: #000000
    }
	a.button.active {
		background: #626262;
		border: 1px solid #000000;
		color: #fff;
	}
    .year {
        color: #000000;
        background-color: #e1e1e1;
        padding: 0.2em 1em;
        margin: 0em 0 0em 0;
        font-size: medium;
        width: 100%;
        left: 0px !important;
    }
    .element-item {
        font-size: 0.7em;
        font-family: sans-serif;
    }
</style>
