---
layout: splash
permalink: /sponsors/
title: "Sponsors"
---

<h1 class="">{{page.title}}</h1>

{% assign sponsors = site.data.sponsors | sort: "date" | reverse %}
{% for sponsor in sponsors %}
    <div class="sponsor">
        <div class="details">
            <h3>{{sponsor.title}}</h3>
            <div class="time">Period:  {{sponsor.period}}</div>
            {% if sponsor.PI%}<div class="PI">Principal Investigator:  {{sponsor.PI}}</div>{%endif%}
            {% if sponsor.description%}<div class="description"> {{sponsor.description}}</div>{%endif%}
        </div>
    </div>
{% endfor %}

<hr>



<div class="sponsor-logos">
    {% assign sponsor_logos =  site.data.sponsors | sort: "date" |  group_by: 'logo' %}
    {% for logo in sponsor_logos%}
        {% unless logo.name == blank%}<img src="{{logo.name}}"/>{%endunless%}

    {% endfor %}
</div>
