<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ page.description }}">

  <title>{{ page.title }}</title>
  <!-- Link in the bootstrap css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Custom styles for the Bootstrap cover template -->
  <link rel="stylesheet" type="text/css" href="/css/jumbotron-narrow.css">
  <!-- Another sheet for syntax highlighting -->
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <!-- Custom css settings -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
