---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: #0a9be9;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
