---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: #0a9be9;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sponsor-logos{
    @media (max-width: 48em){
        text-align: justify;
        margin: 20px;
    }
    margin-top: 20px;
    text-align: center;
    img{
        max-height: 120px;
        padding: 20px;
        max-width: 155px;
        @media (max-width: 48em){
            max-width: 120px;
        }
    }
}

.sponsor-logos:after{
    @media (max-width: 48em){
      content: "";
      display: inline-block;
      width: 100%;
      height:0;
    }
}

.archive{
    @media (min-width: 80em){
        padding-right: 100px;
    }
}

.sponsor {
    display: flex;
    width: 80%;

    .details {
        float: left;
        width: 90%;
        .time, .PI, .description{
                font-size: 0.8em;
        }
    }
}

p {
  text-align: justify;
}
//For image captions
img+em{
display: block;
font-size: small;
}

.category {
  h2 {
     margin-top:0.5em
  }
  p {
    margin-bottom:0.5em
  }
}
