<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/boostsrl-basics/">BoostSRL Basics</a></li>
	<li><a href="/boostsrl-advanced/">BoostSRL Advanced</a></li>
	<li><a href="/datasets/">Datasets</a></li>
      </ul>
    </nav>

    <hr>

    <nav>
      <ul>
	<li><a href="/boostsrl-basics/">Getting Started</a></li>
	<li><a href="/boostsrl-basics/file-structure">File Structure</a></li>
	<li><a href="/">Basic Parameters</a></li>
	<li><a href="/">Advanced Parameters</a></li>
	<li><a href="/">Basic Modes</a></li>
	<li><a href="/">Advanced Modes</a></li>
      </ul>
    </nav>

    <hr>
    
    <div class="container">

      {{ content }}

    </div><!-- /.container -->

    <footer>
      <ul>
	<li><a href="https://github.com/boost-starai">github.com/boost-starai</a></li>
      </ul>
    </footer>
    
  </body>
</html>
